develop parachute deployment system

Deploy rover from "payload mode" to "drive mode"

enable sensor array on rover

enable motor function on rover

develop autonomous driving system

(secondary)develop sateilite data collection system


glossary of terms:
payload mode- the rover when packed up as the size of a can of soda
drive mode- The rover when it is unpacked and ready to drive
ARLISS- a collaborative effort between multiple institutions to build, launch, test and recover
prototype satelites miniaturaized to fit inside a soft drink can
CanSat- name given to the prototype satelites usedd in the ARLISS competition.
